<%= form_with(model: @user) do |f| %>
  <div>
    <%= f.label :username, class: "form-label" %>
    <div class="input-group mb-3">
      <span class="input-group-text">
        <i class="bi bi-person-fill"></i>
      </span>
      <%= f.text_field :username, placeholder: "Enter a username", class: "form-control" %>
    </div>
  </div>

  <div>
    <%= f.label :email, class: "form-label" %>
    <div class="input-group mb-3">
      <span class="input-group-text">
        <i class="bi bi-envelope-fill"></i>
      </span>
      <%= f.email_field :email, placeholder: "Enter your email address", class: "form-control" %>
    </div>
  </div>

  <div>
    <%= f.label :password, class: "form-label" %>
    <div class="input-group mb-3">
      <span class="input-group-text">
        <i class="bi bi-lock-fill"></i>
      </span>
      <%= f.password_field :password, placeholder: "Choose a password", class: "form-control" %>
    </div>
  </div>

  <div>
    <%= f.submit "Sign up", class: "btn btn-primary mt-3" %>
  </div>
<% end %>
