<%= form_with(model: @user) do |f| %>
  <div>
    <%= f.label :username, class: "form-label" %>
    <%= f.text_field :username, placeholder: "Enter a username", class: "form-control mb-3" %>
  </div>

  <div>
    <%= f.label :email, class: "form-label" %>
    <%= f.email_field :email, placeholder: "Enter your email address", class: "form-control mb-3" %>
  </div>

  <div>
    <%= f.label :password, class: "form-label" %>
    <%= f.password_field :password, placeholder: "Choose a password", class: "form-control mb-3" %>
  </div>

  <div>
    <%= f.submit "Sign up", class: "btn btn-primary mt-3" %>
  </div>
<% end %>
