<%= link_to "Login", login_path %>
<%= link_to "Sign up", signup_path %>
<h2>The word you are looking up is: <%= @result[0]["word"] %></h2>

<p>the temporary object returning from the api is:</p>
<%= @result %>

<% @meanings.each do |meaning| %>
  <h4>Meaning:</h4>
  <p><%= meaning["partOfSpeech"] %></p>
  <p><%= meaning["definitions"][0]["definition"] %></p>
<% end %>
