<%# temporarily adding if current_user until index meaning is restricted %>
<h1><%= current_user.username if current_user%> Stored Meanings:</h1>

<table>
  <thead>
    <tr>
      <th>Word in English</th>
      <th>Translation</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @meanings.each do |meaning| %>
      <tr>
        <td><%= meaning.english_word %></td>
        <td><%= meaning.translation %></td>
        <td><%= link_to "Edit", edit_meaning_path(meaning) %></td>
        <td><%= link_to "Delete", meaning_path(meaning), data: {
          turbo_method: :delete,
          turbo_confirm: "Are you sure?"} %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<p>Look up <%= link_to "New word", new_meaning_path %></p>
