<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <span class="navbar-brand ms-lg-5 ms-sm-2" href="#"><i class="bi bi-translate" style="font-size: 2rem;"></i></span>
    <button class="navbar-toggler me-sm-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto me-lg-5 mb-2 mb-lg-0 gap-lg-4">
        <li class="nav-item fs-5">
          <%= link_to "Home", root_path, class: "nav-link active" %>
        </li>
        <% if logged_in? %>
          <li class="nav-item fs-5">
            <%= link_to "Users", users_path, class: "nav-link" %>
          </li>
          <li class="nav-item dropdown fs-5">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Words
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><%= link_to "My Stored Meanings", meanings_path, class: "dropdown-item" %></li>
              <li><%= link_to "New Word", new_meaning_path, class: "dropdown-item" %></li>
            </ul>
          </li>
          <li class="nav-item fs-5">
            <%= link_to "Log out", logout_path, class: "nav-link", data: {turbo_method: :delete} %>
          </li>
        <% else %>
          <li class="nav-item fs-5">
            <%= link_to "Log in", login_path, class: "nav-link" %>
          </li>
          <li class="nav-item fs-5">
            <%= link_to "Signup", signup_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
